@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Press Start 2P', cursive;
  overscroll-behavior: none;
  user-select: none;
  -webkit-user-select: none;
  background-color: #1a1a1a;
}
/* Hide scrollbars */
::-webkit-scrollbar {
  display: none;
}